{
	"root" : {
		"Daemon" : false,
		"MaxProc" : 10,
		"IntervalPoll" : 1,
		"IntervalElapsed" : 10,
		"Relocators" : [
			{
				"Name" : "Company1",
				"NameSpace" : "Company1",
				"Class" : "Company1_Movies",
				"Destination" : "/tmp/dest",
				"Glob" : [
					"/tmp/incoming/*.mov",
					"/tmp/incoming/*.jpg"
				],
				"Relocate" : "/tmp/relocate.sh"
			},
			{
				"Active" : false,
				"Name" : "Company1",
				"NameSpace" : "Company1",
				"Class" : "Company1_Movies",
				"Destination" : "/tmp/dest",
				"Glob" : [
					"/tmp/incoming/*.mov",
					"/tmp/incoming/*.jpg"
				],
				"Relocate" : "/tmp/relocate.sh"
			}
		]
	}
}
